b { color: blue; }
i { color: darkgreen; }
code { padding: 2px 5px 5px 2px; border: 1px solid; background-color: lightblue; }
pre { padding: 2px 5px 5px 2px; border: 1px solid; background-color: lightblue; }
